numpy==1.24.2
pandas==1.1.05
scipy==1.10.1
scikit-learn>=0.22.2,<=1.1.3
torch>=1.8.0
tqdm>=4.64.1
matplotlib>=3.7.0
adversarial-robustness-toolbox>=1.11.0

# testing
pytest==5.4.2
tensorflow==2.8.3
xgboost==1.7.2
Pillow==9.3.0
sortedcontainers==2.4.0

#notebooks
notebook
jupyter
ipywidgets

#doc
sphinx_rtd_theme
